.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 500px;
  
  p {
    font-size: 13px;
    color: #b8b8d4;
  }

  h1 {
    margin: 0;
    padding: 0;
    font-size: 26px;
  }

  hr {
    height: 1px;
    border: 0;
    background-color: #16195c;

    margin: 30px 0;
  }

  .form_group {
    margin-bottom: 30px;
  }

  .input_group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

    label:not(:last-child) {
      margin-right: 8px;
    }

    .sm {
      width: 25%;
    }
  }

  label {
    font-size: 13px;
    font-weight: 500;

    select {
      display: block;
      margin-top: 7px;
      width: 100%;
      padding: 10px 5px;
      border: 2px solid #25cd89;
      border-radius: 10px;
      color: #000;
      outline: 0;
      font-size: 15px;

      background-color: #fff;
    }
  }

  .remove_select {
    background-color: #ff335f;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;

    font-size: 13px;

    cursor: pointer;
  }

  .add_device {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn_group {
    display: flex;
    align-items: center;
    

    div:not(:last-child) {
      margin-right: 10px;
    }
  }

  .prev a {
    font-size: 13px;
    color: #000
  }

  button {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #00b5b9;
    color: #fff;

    cursor: pointer;
  }

  .total_devices {
    margin-left: 10px;
    font-size: 15px;
  }

  .submit {
    background-color: #25cd89;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 20px 40px;
    border: 0;
    border-radius: 30px;
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;

    svg {
      animation: spin 1s ease-in-out infinite;
      font-size: 20px;
    }
  }

  button:disabled {
    background-color: #c1c1c1;
    cursor: initial;
  }
}

.loading {
  display: none;
  color: red;
}

@media (max-width: 420px) {
  .container {
    .input_group {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}