.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 10px;
  background-color: var(--white-color);

  margin-top: 6vh;
  padding: 20px;

  .submit svg{
    animation: spin 1s ease-in-out infinite;
    font-size: 20px;
  }

  .hr {
    display: flex;
    align-items: center;
    position: relative;
    &:not(:last-child)::after {
      content: '';
      background-color: #e3e3e3;
      height: 1px;
      width: 100%;
      position: absolute;
      bottom: 0;
    }

    padding-bottom: 20px;
    
  }

  .remove_select {
    background-color: #ff335f;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 100%;
    margin-top: 34px;

    font-size: 13px;

    cursor: pointer;
  }

  .add_device {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .add {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
    span {
      margin-right: 10px;
      font-weight: 500;
    }

    div {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 30px;
      width: 30px;
      border-radius: 9px;
      background-color: #00b5b9;
      color: #fff;

      box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);

      cursor: pointer;
      transition: all 0.3s ease;

      svg {
        font-size: 22px;
      }

      &:hover {
        filter: brightness(0.9);
      }
    }
  }

  .total_devices {
    margin-left: 10px;
    font-size: 15px;
  }
}


@media (max-width: 490px) {
  .container {
    .input_group {
      flex-direction: column;
      align-items: flex-start;
    }

    .remove_select {
      margin-top: 7px;
      
      &::before {
        content: "Remover";
        margin-right: 5px;
      }
    }
  }
}


@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}