.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 10px;
  
  p {
    font-size: 13px;
    color: #b8b8d4;
  }

  h1 {
    margin: 0;
    padding: 0;
    font-size: 26px;
  }

  hr {
    height: 1px;
    border: 0;
    background-color: #16195c;

    margin: 30px 0;
  }

  .remove_select {
    background-color: #ff335f;
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 100%;
    margin-top: 34px;

    font-size: 13px;

    cursor: pointer;
  }

  .add_device {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .btn_group {
    display: flex;
    align-items: center;
    margin-top: 20px;
    

    div:not(:last-child) {
      margin-right: 10px;
    }
  }

  .prev a {
    font-size: 13px;
    color: #000
  }

  .add {
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #00b5b9;
    color: #fff;

    cursor: pointer;
  }

  .total_devices {
    margin-left: 10px;
    font-size: 15px;
  }

  .submit {
    svg {
      animation: spin 1s ease-in-out infinite;
      font-size: 20px;
    }
  }

  button:disabled {
    background-color: #c1c1c1;
    cursor: initial;
  }
}

.loading {
  display: none;
  color: red;
}

@media (max-width: 420px) {
  .container {
    .input_group {
      flex-direction: column;
      align-items: flex-start;
    }

    .remove_select {
      margin-top: 7px;
      
      &::before {
        content: "Remover";
        margin-right: 5px;
      }
    }
  }
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}