.container {
  padding: 20px;
  margin-top: 5vh;

  .submit svg{
      animation: spin 1s ease-in-out infinite;
      font-size: 20px;
  }
}

.company_wrapper {
  margin-top: 50px;

  > h1 {
    font-size: 21px;
    margin-bottom: 10px;
  }

  .address {
    font-size: 15px;
    margin-bottom: 10px;

    span:not(:last-child) {
      margin-right: 10px;
    }
  }

  p {
    font-size: 14px;
  }

  .social {
    font-size: 14px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    > a:not(:last-child) {
      margin-right: 10px;
    }
  }
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}