@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  outline: transparent;

  font-family: 'Poppins', sans-serif;
}

:root {
  --white-color: #fff;
  --text-color: #333;
  font-size: 62.5%;
}


body {
  background-color: var(--white-color);
  color: var(--text-color);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

input, select {
  display: block;
  margin-top: 7px;
  width: 100%;
  padding: 10px 5px;
  border: 2px solid #25cd89;
  border-radius: 10px;
  color: #000;
  outline: 0;
  font-size: 15px;

  background-color: #fff;
}

button {
  background-color: #25cd89;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 20px 40px;
  border: 0;
  border-radius: 30px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
}


label {
  font-size: 13px;
  width: 100%;
  font-weight: 500;
}


.grid {
  display: grid;
  gap: 1rem;
}

.container {
  max-width: 1200px;
  padding: 20px 15px;
}

.form-group {
  height: 100%;
}

.input-group {
  display: flex;

  label:not(:last-child) {
    margin-right: 8px;
  }

  .sm {
    width: 25%;
  }

  .mb {
    width: 50%;
  }

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.input-invalid {
  border: 1.5px solid #c21f40;

  animation: shake 300ms;
}

@media (max-width: 451px) {
  .container {
    .input-group {
      flex-direction: column;
      align-items: flex-start;
    }
  }
}

@keyframes shake {
  25% {
    transform: translateX(4px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(4px);
  }
}
